[user]
	name = Konrad Listwan-Ciesielski
	email = konrad.listwan@gmail.com

[core]
	ignorecase = false
	editor = emacs

[init]
	defaultBranch = main

[commit]
	verbose = true

[push]
	autoSetupRemote = true
	default = current

[rebase]
	autoStash = true
